<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'assets/css/chatpage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div  class="logo"></div>
        <ul class="menu">
          <li class="active">
            <a href="{% url 'index' %}">
              <i class="fas fa-comments"></i>
              <span>aside</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-comments"></i>
              <span>asides</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-user-friends"></i>
              <span>Friends</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-user-plus"></i>
              <span>Requests</span>
            </a>
          </li>
          <li class="logout">
            <a href="#">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <section class="discussions">
        <div class="discussion search">
          <div class="searchbar">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search..."></input>
          </div>
        </div>
        {% for rm in room_names %}
         <div class="discussion message-active">
            <a class="name" href="{% url 'room' rm.slug %}" >{{ rm.name }}</a>
        </div>
        {% endfor %}
      </section>
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">{{ room.name }}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat" id="chat-log ">
          <div class="message text-only">
            <p class="text">lorem ipsum docol sit amet.</p>
          </div>
          <p class="time">{{request.user.username}}</p>
          
        </div>
        <div class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <input type="text" class="write-message" id="chat-message-input" placeholder="Type your message here" />
        <button class="icon send fa fa-paper-plane-o clickable" type="button" id="chat-message-submit" value="Send">Send</button>
        </div>
      </section>
    <script src="{% static 'assets/js/script.js' %}"></script>
    {{ room.slug|json_script:"room-name" }}
    {{ request.user.username|json_script:"user-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userName = JSON.parse(document.getElementById('user-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        /*
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };
        */
        chatSocket.onmessage = function (e) {
          console.log('onmessage')

          const data = JSON.parse(e.data);

          if (data.message) {
            let html = '<div class="message text-only">';
                html += '<p class="text">' + data.message + '</p></div>';
                html += '<p class="time">' + data.username + '</p>';
               
            document.querySelector("#chat-log").innerHTML += html;

          } else {
            alert('The message was empty!');
          }
        };
        
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));
            messageInputDom.value = '';

            return false;
        };
    </script>
</body>
</html>