{% extends '_base.html' %}
{% load static %}
{% block extrahead %}

{% endblock %}
{% block title %}Home{% endblock title %}
{% block content %}
	<header>
     <h1><a href="{% url 'home' %}">legionChat</h1>
     <nav class="nav-header">
       <ul class="links">
         <li>FAQs</li>
         <li><a href="#footer">Contact us</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>

          {% else %}
            <li><a href="{% url 'account_login' %}">Log In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
       </ul>
     </nav>
      </nav>
  </header>
	<main class="main-content">
		
	</main>	
    <footer id="footer">
    
  </footer>	
{% endblock content %}
